[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
flask = "*"
flask-restful = "*"
flask-jwt = "*"
flask-cors = "*"
flask-sqlalchemy = "*"

[requires]
python_version = "3.9.1"
